clientPath="$HOME/newsbeuterCS"        
serverPath="$HOME/newsbeuterCS" 
                                       
tmuxName=newsbeuter                    
                                       
sshUser=                         
server=                  
ncPort=4242                            
browserCmd=firefox                     

